@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 25, 38, 71;
  --background-middle-rgb: 14, 22, 40;
  --background-end-rgb: 0, 0, 0;
  --background: linear-gradient(45deg, rgb(var(--background-start-rgb)), rgb(var(--background-middle-rgb)), rgb(var(--background-end-rgb)));
}

body {
  background: var(--background);
}
